<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
    <h1>Blogs</h1>
</div>
<div>
    <p>Published on 27/11/2016
    </p>
    <h3>My first blog post</h3>
    <p>LoremmncadjnjonoanojnjnAndroid is a software stack for mobile devices that includes an operating system,
        middleware and key applications. Android is a software platform and operating system for mobile devices based on
        the Linux operating system and developed by Google and the Open Handset Alliance. It allows developers to write
        managed code in a Java-like language that utilizes Google-developed Java libraries, but does not support
        programs developed in native code.
        The unveiling of the Android platform on 5 November 2007 was announced with the founding of the Open Handset
        Alliance, a consortium of 34 hardware, software and telecom companies devoted to advancing open standards for
        mobile devices. When released in 2008, most of the Android platform will be made available under the Apache
        free-software and open-source license.
        2.1.1 THE BIRTH OF ANDROID
        Google Acquires Android Inc.
        In July 2005, Google acquired Android Inc., a small startup company based in Palo Alto, CA. Android's
        co-founders who went to work at Google included Andy Rubin (co-founder of Danger), Rich Miner (co-founder of
        Wildfire Communications, Inc), Nick Sears (once VP at T-Mobile), and Chris White (one of the first engineers at
        WebTV). At the time, little was known about the functions of Android Inc. other than they made software for
        mobile phones.

        2.1.2 Open Handset Alliance Founded
        On 5 November 2007, the Open Handset Alliance, a consortium of several companies which include Google, HTC,
        Intel, Motorola, Qualcomm, T-Mobile, Sprint Nextel and NVIDIA, was unveiled with the goal to develop open
        standards for mobile devices. Along with the formation of the Open Handset Alliance, the OHA also unveiled their
        first product, Android, an open source mobile device platform based on the Linux operating system. </p>
</div>

<div>
    <p>Published on 27/11/2016
    </p>
    <h3>My first blog post</h3>
    <p>LoremmncadjnjonoanojnjnAndroid is a software stack for mobile devices that includes an operating system,
        middleware and key applications. Android is a software platform and operating system for mobile devices based on
        the Linux operating system and developed by Google and the Open Handset Alliance. It allows developers to write
        managed code in a Java-like language that utilizes Google-developed Java libraries, but does not support
        programs developed in native code.
        The unveiling of the Android platform on 5 November 2007 was announced with the founding of the Open Handset
        Alliance, a consortium of 34 hardware, software and telecom companies devoted to advancing open standards for
        mobile devices. When released in 2008, most of the Android platform will be made available under the Apache
        free-software and open-source license.
        2.1.1 THE BIRTH OF ANDROID
        Google Acquires Android Inc.
        In July 2005, Google acquired Android Inc., a small startup company based in Palo Alto, CA. Android's
        co-founders who went to work at Google included Andy Rubin (co-founder of Danger), Rich Miner (co-founder of
        Wildfire Communications, Inc), Nick Sears (once VP at T-Mobile), and Chris White (one of the first engineers at
        WebTV). At the time, little was known about the functions of Android Inc. other than they made software for
        mobile phones.

        2.1.2 Open Handset Alliance Founded
        On 5 November 2007, the Open Handset Alliance, a consortium of several companies which include Google, HTC,
        Intel, Motorola, Qualcomm, T-Mobile, Sprint Nextel and NVIDIA, was unveiled with the goal to develop open
        standards for mobile devices. Along with the formation of the Open Handset Alliance, the OHA also unveiled their
        first product, Android, an open source mobile device platform based on the Linux operating system. </p>
</div>
<div>
    <p>Published on 27/11/2016
    </p>
    <h3>My second blog post</h3>
    <p>LoremmncadjnjonoanojnjnAndroid is a software stack for mobile devices that includes an operating system,
        middleware and key applications. Android is a software platform and operating system for mobile devices based on
        the Linux operating system and developed by Google and the Open Handset Alliance. It allows developers to write
        managed code in a Java-like language that utilizes Google-developed Java libraries, but does not support
        programs developed in native code.
        The unveiling of the Android platform on 5 November 2007 was announced with the founding of the Open Handset
        Alliance, a consortium of 34 hardware, software and telecom companies devoted to advancing open standards for
        mobile devices. When released in 2008, most of the Android platform will be made available under the Apache
        free-software and open-source license.
        2.1.1 THE BIRTH OF ANDROID
        Google Acquires Android Inc.
        In July 2005, Google acquired Android Inc., a small startup company based in Palo Alto, CA. Android's
        co-founders who went to work at Google included Andy Rubin (co-founder of Danger), Rich Miner (co-founder of
        Wildfire Communications, Inc), Nick Sears (once VP at T-Mobile), and Chris White (one of the first engineers at
        WebTV). At the time, little was known about the functions of Android Inc. other than they made software for
        mobile phones.

        2.1.2 Open Handset Alliance Founded
        On 5 November 2007, the Open Handset Alliance, a consortium of several companies which include Google, HTC,
        Intel, Motorola, Qualcomm, T-Mobile, Sprint Nextel and NVIDIA, was unveiled with the goal to develop open
        standards for mobile devices. Along with the formation of the Open Handset Alliance, the OHA also unveiled their
        first product, Android, an open source mobile device platform based on the Linux operating system. </p>
</div>

<div>
    <p>Published on 27/11/2016
    </p>
    <h3>My third blog post</h3>
    <p>LoremmncadjnjonoanojnjnAndroid is a software stack for mobile devices that includes an operating system,
        middleware and key applications. Android is a software platform and operating system for mobile devices based on
        the Linux operating system and developed by Google and the Open Handset Alliance. It allows developers to write
        managed code in a Java-like language that utilizes Google-developed Java libraries, but does not support
        programs developed in native code.
        The unveiling of the Android platform on 5 November 2007 was announced with the founding of the Open Handset
        Alliance, a consortium of 34 hardware, software and telecom companies devoted to advancing open standards for
        mobile devices. When released in 2008, most of the Android platform will be made available under the Apache
        free-software and open-source license.
        2.1.1 THE BIRTH OF ANDROID
        Google Acquires Android Inc.
        In July 2005, Google acquired Android Inc., a small startup company based in Palo Alto, CA. Android's
        co-founders who went to work at Google included Andy Rubin (co-founder of Danger), Rich Miner (co-founder of
        Wildfire Communications, Inc), Nick Sears (once VP at T-Mobile), and Chris White (one of the first engineers at
        WebTV). At the time, little was known about the functions of Android Inc. other than they made software for
        mobile phones.

        2.1.2 Open Handset Alliance Founded
        On 5 November 2007, the Open Handset Alliance, a consortium of several companies which include Google, HTC,
        Intel, Motorola, Qualcomm, T-Mobile, Sprint Nextel and NVIDIA, was unveiled with the goal to develop open
        standards for mobile devices. Along with the formation of the Open Handset Alliance, the OHA also unveiled their
        first product, Android, an open source mobile device platform based on the Linux operating system. </p>
</div>
</body>
</html>
